body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0B132B;
  color: #FFF
}

.gameContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  background: white;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

.X {
  color: green;
}

.O {
  color: red;
}

.cell:hover {
  background: #eee;
}

.status {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.status {
  gap: 5px;
  display: flex;
}

.button  {
  background: #FFF;
  border: 0;
  border-radius: 6px;
  font-weight: bold;
  color: #0B132B;
}

.button:hover {
  background: #E0E0F0;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0B132B;
  padding:30px;
  border-radius: 6px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.playAgainst {
  display: flex;
  justify-content: space-around;
}

.playAgainst > div {
  display: flex;
  gap: 3px;
}

.cell {
    transition: background 0.3s;
}

.menu {
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border: 1px solid #333;
}

#message {
    height: 30px;
    margin: 10px;
    font-size: 1.5rem;
    color: #00D4FF;
}
